{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'media.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Чайка</title>
</head>
<body>
    <header>
        <div class="contacts">
            <div class="block">
                <img src="{% static 'img/phone.png' %}">
                <a href="tel:+78172758055">+7(817)275-80-55</a>
            </div>
            <div class="block">
                <img src="{% static 'img/mail.png' %}">
                <a href="mailto:teatr-studio99@mail.ru">teatr-studio99@mail.ru</a>
            </div>
            <div class="block">
                <img src="{% static 'img/location.png' %}">
                <a href="https://yandex.ru/maps/org/teatr_molodogo_aktera/1107064598/?ll=39.902913%2C59.213689&z=16.82">Россия, г. Вологда, Советский проспект, 35А</a>
            </div>
        </div>

        <div class="shapka">
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}"></a>
            </div>

            <input class="side-menu" type="checkbox" id="side-menu"/>
            <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

            <nav class="nav">
                {% include 'main/_navbar.html' with location='header' %}
            </nav>
        </div>
    </header>
    
    <main>
        <div class="admin no-animation">
            <div class="admin-tabs">
                <div class="admin-tab-buttons">
                    <button class="admin-tab-button admin-active" data-tab="admin-groups">Группы</button>
                    <button class="admin-tab-button" data-tab="admin-teachers">Педагоги</button>
                    <button class="admin-tab-button" data-tab="admin-performances">Спектакли</button>
                    <button class="admin-tab-button" data-tab="admin-children">Дети</button>
                    <button class="admin-tab-button" data-tab="admin-requests">Активные заявки (<span id="new-requests-count">новые: {{ new_requests_count }}</span>)</button>
                    <button class="admin-tab-button" data-tab="admin-archive-requests">Архив заявок</button>
                </div>
                <div class="admin-tab-content admin-active" id="admin-groups">
                    <a class="admin-tab-info">Здесь можно добавлять новые группы, а также редактировать и удалять информацию об уже существующих.</a>
                </div>
                <div class="admin-tab-content" id="admin-teachers">
                    <a class="admin-tab-info">Здесь можно добавлять новых педагогов, а также редактировать и удалять информацию об уже существующих.</a>
                </div>
                <div class="admin-tab-content" id="admin-performances">
                    <a class="admin-tab-info">Здесь можно добавлять новые спектакли, а также редактировать и удалять информацию об уже существующих.</a>
                </div>
                <div class="admin-tab-content" id="admin-children">
                    <a class="admin-tab-info">Здесь можно редактировать информацию о группе и курирующем педагоге ребёнка.</a>
                </div>
                <div class="admin-tab-content" id="admin-requests">
                    <div class="requests-admin-container">
                        <a class="admin-tab-info">Список новых и принятых в работу заявок. Заявки со статусом "Выполнена" или "Закрыта" будут отправлены в архив. После изменения комментария или статуса обязательно сохраняйте изменения!</a>
                        <div class="requests-filter">
                            <label for="status-filter">Фильтр по статусу:</label>
                            <select id="status-filter">
                                <option value="all">Все</option>
                                <option value="new">Новые</option>
                                <option value="in_progress">В обработке</option>
                            </select>
                        </div>
                        <table class="requests-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Дата</th>
                                    <th>Пользователь</th>
                                    <th>Текст заявки</th>
                                    <th>Статус</th>
                                    <th>Комментарий</th>
                                    <th>Написать комментарий</th>
                                    <th>Статус</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for request in requests %}
                                <tr class="request-row status-{{ request.status }}" data-request-id="{{ request.id }}">
                                    <td><b>{{ request.id }}</b></td>
                                    <td>{{ request.created_at|date:"d.m.Y H:i" }}</td>
                                    <td>
                                    {{ request.user.parentprofile.full_name|default:"Не указано" }}<br>
                                    {{ request.user.email }}
                                    </td>
                                    <td>{{ request.text }}</td>
                                    <td class="status-display">{{ request.get_status_display }}</td>
                                    <td class="comment-display">{{ request.admin_comment|default:"-" }}</td>
                                    <td>
                                        <div class="request-select">
                                        <textarea class="admin-comment" data-request-id="{{ request.id }}" 
                                                placeholder="Введите комментарий...">{{ request.admin_comment|default:"" }}</textarea>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="request-select">
                                            <select class="status-select" data-request-id="{{ request.id }}">
                                                <option value="new" {% if request.status == 'new' %}selected{% endif %}>новая</option>
                                                <option value="in_progress" {% if request.status == 'in_progress' %}selected{% endif %}>в обработке</option>
                                                <option value="completed" {% if request.status == 'completed' %}selected{% endif %}>выполнена</option>
                                                <option value="rejected" {% if request.status == 'rejected' %}selected{% endif %}>закрыта</option>
                                            </select>
                                            <button class="save-changes" data-request-id="{{ request.id }}">Сохранить</button>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="admin-tab-content" id="admin-archive-requests">
                    <div class="requests-admin-container">
                        <a class="admin-tab-info">Архив выполненных и закрытых заявок. Если заявка попала сюда по ошибке, измените её статус 
                            на "Новая" или "В обработке", и она снова появится в списке активных заявок. После изменения статуса обязательно сохраняйте изменения!</a>
                        <div class="requests-filter">
                            <label for="archive-status-filter">Фильтр по статусу:</label>
                            <select id="archive-status-filter">
                                <option value="all">Все</option>
                                <option value="completed">Выполненные</option>
                                <option value="rejected">Закрытые</option>
                            </select>
                        </div>
                        <table class="requests-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Дата</th>
                                    <th>Пользователь</th>
                                    <th>Текст заявки</th>
                                    <th>Статус</th>
                                    <th>Комментарий</th>
                                    <th>Написать комментарий</th>
                                    <th>Статус</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for request in archived_requests %}
                                <tr class="request-row status-{{ request.status }}" data-request-id="{{ request.id }}">
                                    <td><b>{{ request.id }}</b></td>
                                    <td>{{ request.created_at|date:"d.m.Y H:i" }}</td>
                                    <td>
                                        {{ request.user.parentprofile.full_name|default:"Не указано" }}<br>
                                        {{ request.user.email }}
                                    </td>
                                    <td>{{ request.text }}</td>
                                    <td class="status-display">{{ request.get_status_display }}</td>
                                    <td class="comment-display">{{ request.admin_comment|default:"-" }}</td>
                                    <td>
                                        <div class="request-select">
                                        <textarea class="admin-comment" data-request-id="{{ request.id }}" 
                                                placeholder="Введите комментарий...">{{ request.admin_comment|default:"" }}</textarea>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="request-select">
                                            <select class="status-select" data-request-id="{{ request.id }}">
                                                <option value="new" {% if request.status == 'new' %}selected{% endif %}>новая</option>
                                                <option value="in_progress" {% if request.status == 'in_progress' %}selected{% endif %}>в обработке</option>
                                                <option value="completed" {% if request.status == 'completed' %}selected{% endif %}>выполнена</option>
                                                <option value="rejected" {% if request.status == 'rejected' %}selected{% endif %}>закрыта</option>
                                            </select>
                                            <button class="save-changes" data-request-id="{{ request.id }}">Сохранить</button>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer_up">
            <div class="map">
                {% include 'main/_navbar.html' with location='footer' %}
            </div>
            <div class="contacts2">
                <div class="block">
                    <img src="{% static 'img/phone.png' %}">
                    <a href="tel:+78172758055">+7(817)275-80-55</a>
                </div>
                <div class="block">
                    <a href="mailto:teatr-studio99@mail.ru"><img src="{% static 'img/mail.png' %}"></a>
                    <a href="mailto:teatr-studio99@mail.ru">teatr-studio99@mail.ru</a>
                </div>
                <div class="block">
                    <img src="{% static 'img/location.png' %}">
                    <a href="https://yandex.ru/maps/org/teatr_molodogo_aktera/1107064598/?ll=39.902913%2C59.213689&z=16.82">Россия, г. Вологда, Советский проспект, 35А</a>
                </div>
            </div>
            <div class="socials">
                <div class="block2">
                    <a href="https://vk.com/teatr_tma"><img src="{% static 'img/vk.png' %}"></a>
                </div>
                <div class="block2">
                    <a href="https://www.youtube.com/channel/UCdfqQWyemN2Y1ZtkSkIibNw"><img src="{% static 'img/yt.png' %}"></a>
                </div>
            </div>
        </div>
        <div class="footer_down">
            <a>© НОУ ДО "Светлые знания", 1999-2025</a>
        </div>
    </footer>

    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>