{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'media.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Чайка</title>
</head>
<body>
    <header>
        <div class="contacts">
            <div class="block">
                <img src="{% static 'img/phone.png' %}">
                <a href="tel:+78172758055">+7(817)275-80-55</a>
            </div>
            <div class="block">
                <img src="{% static 'img/mail.png' %}">
                <a href="mailto:teatr-studio99@mail.ru">teatr-studio99@mail.ru</a>
            </div>
            <div class="block">
                <img src="{% static 'img/location.png' %}">
                <a href="https://yandex.ru/maps/org/teatr_molodogo_aktera/1107064598/?ll=39.902913%2C59.213689&z=16.82">Россия, г. Вологда, Советский проспект, 35А</a>
            </div>
        </div>

        <div class="shapka">
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}"></a>
            </div>

            <input class="side-menu" type="checkbox" id="side-menu"/>
            <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

            <nav class="nav">
                {% include 'main/_navbar.html' with location='header' %}
            </nav>
        </div>
    </header>

    <main>
        <div class="cont animate-on-scroll">
            <h1>Контакты</h1>
            <div class="cont_content animate-on-scroll">
                <div>
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A2a133f609e79c7e6a35392cd8f80c3305fd275a7bdd47d4f7dac07f3b627c1ea&amp;source=constructor" width="750" height="500" frameborder="0"></iframe>
                </div>
                <div class="cont_right animate-on-scroll">
                    <div>
                        <a class="cont_big animate-on-scroll">НОУ ДО «Светлые знания»: Школа-студия драматического искусства и Театр молодого актера</a><br><br>
                        <a class="cont_small animate-on-scroll" href="https://yandex.ru/maps/org/teatr_molodogo_aktera/1107064598/?ll=39.902913%2C59.213689&z=16.82"><span>Адрес:</span> Россия, г. Вологда, Советский проспект, 35А</a><br>
                        <a class="cont_small animate-on-scroll" href="tel:+78172758055"><span>Телефон:</span> +7(817)275-80-55</a><br>
                        <a class="cont_small animate-on-scroll" href="mailto:teatr-studio99@mail.ru"><span>E-mail:</span> teatr-studio99@mail.ru</a><br><br>
                    </div>
                    <div class="socials2 animate-on-scroll">
                        <div class="block2 animate-on-scroll">
                            <a href="https://vk.com/teatr_tma"><img src="{% static 'img/vk.png' %}"></a>
                        </div>
                        <div class="block2 animate-on-scroll">
                            <a href="https://www.youtube.com/channel/UCdfqQWyemN2Y1ZtkSkIibNw"><img src="{% static 'img/yt.png' %}"></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>

    <footer>
        <div class="footer_up">
            <div class="map">
                {% include 'main/_navbar.html' with location='footer' %}
            </div>
            <div class="contacts2">
                <div class="block">
                    <img src="{% static 'img/phone.png' %}">
                    <a href="tel:+78172758055">+7(817)275-80-55</a>
                </div>
                <div class="block">
                    <a href="mailto:teatr-studio99@mail.ru"><img src="{% static 'img/mail.png' %}"></a>
                    <a href="mailto:teatr-studio99@mail.ru">teatr-studio99@mail.ru</a>
                </div>
                <div class="block">
                    <img src="{% static 'img/location.png' %}">
                    <a href="https://yandex.ru/maps/org/teatr_molodogo_aktera/1107064598/?ll=39.902913%2C59.213689&z=16.82">Россия, г. Вологда, Советский проспект, 35А</a>
                </div>
            </div>
            <div class="socials">
                <div class="block2">
                    <a href="https://vk.com/teatr_tma"><img src="{% static 'img/vk.png' %}"></a>
                </div>
                <div class="block2">
                    <a href="https://www.youtube.com/channel/UCdfqQWyemN2Y1ZtkSkIibNw"><img src="{% static 'img/yt.png' %}"></a>
                </div>
            </div>
        </div>
        <div class="footer_down">
            <a>© НОУ ДО "Светлые знания", 1999-2025</a>
        </div>
    </footer>

    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>