{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'media.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Чайка</title>
</head>
<body>
    <header>
        <div class="contacts">
            <div class="block">
                <img src="{% static 'img/phone.png' %}">
                <a href="tel:+78172758055">+7(817)275-80-55</a>
            </div>
            <div class="block">
                <img src="{% static 'img/mail.png' %}">
                <a href="mailto:teatr-studio99@mail.ru">teatr-studio99@mail.ru</a>
            </div>
            <div class="block">
                <img src="{% static 'img/location.png' %}">
                <a href="https://yandex.ru/maps/org/teatr_molodogo_aktera/1107064598/?ll=39.902913%2C59.213689&z=16.82">Россия, г. Вологда, Советский проспект, 35А</a>
            </div>
        </div>

        <div class="shapka">
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}"></a>
            </div>

            <input class="side-menu" type="checkbox" id="side-menu"/>
            <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

            <nav class="nav">
                {% include 'main/_navbar.html' with location='header' %}
            </nav>
        </div>
    </header>

    <main>
        <div class="performances animate-on-scroll">
            <h1>Сводки о наших спектаклях и проектах</h1>
            <div class="performance">
                <div class="perf_left">
                    <img src="{% static 'img/perf1.png' %}" alt="Мальчик на крыше">
                </div>
                <div class="perf_right">
                    <a class="perf_name">Мальчик на крыше (6+)</a>
                    <a class="perf_group">музыкальный спектакль от Эстрадного отделения «Чайка.ру»</a>
                    <a class="perf_info">«И один в поле воин! И один может противостоять толпе самоуверенных 
                        подростков!» — уверен герой мюзикла. Что поможет ребятам вновь быть искренними, уметь 
                        дружить, любить и ценить прекрасное? Быть может, музыка? Музыка на крыше! Музыка рождающая 
                        танец и поэзию и бесконечный творческий полет души!</a><br>
                    <a class="perf_info">🎭 Премьера спектакля состоялась 15 мая 2024 года.</a><br>
                    <a class="perf_info">🎶 В спектакле звучит музыка Вологодского композитора Виктора Колесова.</a>
                </div>
            </div>

            <div class="line">
                <hr>
            </div>

            <div class="performance">
                <div class="perf_left">
                    <img src="{% static 'img/perf2.png' %}" alt="Замарашка: другая история">
                </div>
                <div class="perf_right">
                    <a class="perf_name">Замарашка: другая история (14+)</a>
                    <a class="perf_group">работа старшей группы ТМА по мотивам пьесы Януша Гловацкого «Замарашка»</a>
                    <a class="perf_info">Все события выдуманы, а совпадения случайны.

                        Постановка, вызвавшая общественный резонанс и повествующая о жизни девочек с нелёгкой судьбой, заключённых в колонии.</a><br>
                    <a class="perf_info">🎭 Премьера спектакля состоялась 20 марта 2024 года.</a><br>
                    <a class="perf_info">🏆 Спектакль получил Гран-При Международного конкурса-фестиваля театрального искусства «Браво, театр!», 
                        который состоялся в Санкт-Петербурге в марте 2024 года.</a>
                </div>
            </div>

            <div class="line">
                <hr>
            </div>

            <div class="performance">
                <div class="perf_left">
                    <img src="{% static 'img/perf3.png' %}" alt="Зеркало">
                </div>
                <div class="perf_right">
                    <a class="perf_name">Зеркало (14+)</a>
                    <a class="perf_group">работа старшей группы ШСДИ по мотивам сказки А. С. Пушкина 
                        «Сказка о мертвой царевне и о семи богатырях»</a>
                    <a class="perf_info">Сюжет строится вокруг нравственных вопросов добра и зла, понятий зависти и честности.</a><br>
                    <a class="perf_info">🎭 Первая премьера спектакля состоялась 22 апреля 2013 года, а также спектакль был восстановлен 
                        в 2018 и 2024 годах.</a><br>
                    <a class="perf_info">🏆 Спектакль — Лауреат I степени Всероссийского фестивале-лаборатории «Чувство правды», 
                        который состоялся в Санкт-Петербурге в марте 2024 года</a>
                </div>
            </div>

            <div class="line">
                <hr>
            </div>

            <div class="performance">
                <div class="perf_left">
                    <img src="{% static 'img/perf4.png' %}" alt="Сердце, где живу я">
                </div>
                <div class="perf_right">
                    <a class="perf_name">Сердце, где живу я (14+)</a>
                    <a class="perf_group">спектакль по творчеству современных Вологодских поэтов и музыкантов, 
                        созданный в рамках Летней Театральной Мастерской по государственному гранту Вологодской области в сфере культуры</a>
                    <a class="perf_info">Готовя этот спектакль, мы старались дать возможность ребятам поговорить о своих проблемах, о том, что их волнует в этой жизни: подростки редко бывают услышанными. В итоге получился такой разговор о современной молодежи нашего города: о дружбе, о выборе профессии, о сложностях взаимопонимания с родителями, о первых чувствах и о многом другом...</a><br>
                    <a class="perf_info">🎭 Первая премьера спектакля состоялась 30 августа 2024 года.</a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer_up">
            <div class="map">
                {% include 'main/_navbar.html' with location='footer' %}
            </div>
            <div class="contacts2">
                <div class="block">
                    <img src="{% static 'img/phone.png' %}">
                    <a href="tel:+78172758055">+7(817)275-80-55</a>
                </div>
                <div class="block">
                    <a href="mailto:teatr-studio99@mail.ru"><img src="{% static 'img/mail.png' %}"></a>
                    <a href="mailto:teatr-studio99@mail.ru">teatr-studio99@mail.ru</a>
                </div>
                <div class="block">
                    <img src="{% static 'img/location.png' %}">
                    <a href="https://yandex.ru/maps/org/teatr_molodogo_aktera/1107064598/?ll=39.902913%2C59.213689&z=16.82">Россия, г. Вологда, Советский проспект, 35А</a>
                </div>
            </div>
            <div class="socials">
                <div class="block2">
                    <a href="https://vk.com/teatr_tma"><img src="{% static 'img/vk.png' %}"></a>
                </div>
                <div class="block2">
                    <a href="https://www.youtube.com/channel/UCdfqQWyemN2Y1ZtkSkIibNw"><img src="{% static 'img/yt.png' %}"></a>
                </div>
            </div>
        </div>
        <div class="footer_down">
            <a>© НОУ ДО "Светлые знания", 1999-2025</a>
        </div>
    </footer>

    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>